
.main {
  border: 1px solid rgba(200, 250, 250, 0.2);
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 8px 20px;
  flex-direction: column;
  display: flex;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}
.input .ipt, .input button {
  border: none;
  height: 48px;
}

.input .ipt {
  font-size: 15px;
  line-height: 28px;
  padding: 2px 8px;
 
  margin-right: 8px;
  flex: 1;
  background: rgba(50, 255, 50, 0.1)
}

.input button {
  font-size: 15px;
  border-radius: 2px;
  border: none;
  background: rgb(28, 133, 28);
  width: 80px;
}

@media (max-width: 960px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }
}
.main .msg {
  flex: 1;
  padding: 0 16px 22px 0px;
  overflow-y: auto;
}
.msg .me {
  color: rgb(152, 198, 248);
}
.msg>div {
  font-size: 17px;

  margin-bottom: 15px;
}
.msg .err {
  color: rgb(255, 0, 0);
}
.msg .err .r {
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 8px;
  color: yellow;
  cursor: pointer;
}
.msg .code {
  /* background-color: rgba(0, 0, 0, .8)!important; */
}